@model Book

@{
    ViewBag.Title = "Book Create";
    Layout = "_Layout";
}

<h3 class="text-center mt-4">Заполните форму, чтобы добавить книгу</h3>
<form asp-action="Create" method="post" class="connection-form" enctype="multipart/form-data">
    <div class="row  mt-5">
        <div class="col col-6 mx-auto">
            @await Html.PartialAsync("_CreateEditForm", new Book())
            <button type="submit" class="btn btn-success mt-5 px-3">Добавить книгу</button>
        </div>
    </div>
</form>

