@model Book

@{
    ViewBag.Title = "Book Edit";
    Layout = "_Layout";
}

<h3 class="text-center mt-4">Заполните форму, чтобы редактировать книгу</h3>
<form asp-action="Edit" method="post" class="connection-form" enctype="multipart/form-data">
    <div class="row  mt-5">
        <div class="col col-6 mx-auto">
            @await Html.PartialAsync("_CreateEditForm", Model))
            <input asp-for="AddedDate" value="@Model.AddedDate" type="hidden"/>
            <input asp-for="Status" value="@Model.Status" type="hidden"/>
            <button type="submit" class="btn btn-success mt-5 px-3">Редактировать</button>
        </div>
    </div>
</form>